{{>header}}
using Algorand.Unity.Net;

using Dotnet = Algorand.{{name}}.Model;

namespace Algorand.Unity.{{name}}.Net
{
    {{#types}}
    public static class {{name}}Extensions
    {
        public static Dotnet.{{dotnet-name}} ToDotnet(this {{name}} from)
        {
            return from.Convert().ToDotnet<Dotnet.{{dotnet-name}}>();
        }

        public static {{name}} ToUnity(this Dotnet.{{dotnet-name}} from)
        {
            return from.Convert().ToUnity<{{name}}>();
        }
    }

    {{/types}}
}
