{{>header}}

namespace AlgoSdk.{{name}}
{
    {{#types}}
    [AlgoApiObject, Serializable]
    public partial struct {{name}}
        : IEquatable<{{name}}>
    {
        {{#properties}}
        [SerializeField, Tooltip(@"{{description}}")]
        {{type}} {{field-name}};
        
        {{/properties}}
        {{#properties}}
        /// <summary>
        {{#doc-prefix-lambda}}
        /// {{description}}
        {{/doc-prefix-lambda}}




        /// </summary>
        [AlgoApiField("{{api-name}}")]
        public {{type}} {{property-name}}
        {
            get => {{field-name}};
            set => {{field-name}} = value;
        }

        {{/properties}}
        public void Equals({{name}} other)
        {
            return 
            {{#properties}}
                {{#is_array}}
                ArrayComparer.Equals({{property-name}}, other.{{property-name}})
                {{/is_array}}
                {{^is_array}}
                {{#is_string}}
                StringComparer.Equals({{property-name}}, other.{{property-name}})
                {{/is_string}}
                {{^is_string}}
                {{property-name}}.Equals(other.{{property-name}})
                {{/is_string}}
                {{/is_array}}{{^last}}&&{{/last}}
            {{/properties}}
            {{^properties}}
                true
            {{/properties}}
                ;
        }
    }

    {{/types}}
}
